HCMCloudServicesLast/HCMTransfersPromotions/SOA/Schemas/GradeCustomerFlex.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/workStructures/grades/flex/gradeCustomerFlex/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/workStructures/grades/flex/gradeCustomerFlex/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="GradeCustomerFlex">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>GradeId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="GradeId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="insuranceDegree" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="insuranceDegree_Display" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="grade1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="grade2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="grade3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="childCode" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="parentCode" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="gradeCustomerFlex" type="GradeCustomerFlex"/>
</xsd:schema>
