HCMCloudServicesLast/HCMTransfersPromotions/SOA/Schemas/j_AssignmentEitCategory.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/assignmentExtraInfoEFF/Category/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/flex/assignmentExtraInfoEFF/Category/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="j_CategoryPerAsgEitprivate.xsd" xml:id="j_CategoryPerAsgEitprivate-xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService_1.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava_1.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML_1.xsd"/>
    <xsd:complexType name="j_AssignmentEitCategory">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>EffectiveLatestChange</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveSequence</attribute>
                    <attribute>AssignmentId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveSequence" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AssignmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CategoryCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="j_AssignmentEitCategory" type="j_AssignmentEitCategory"/>
</xsd:schema>
