HCMCloudServicesLast/HCMTransfersPromotions/SOA/Schemas/PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivate.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/context/"
     xmlns:ns0="http://xmlns.oracle.com/apps/hcm/people/core/flex/personExtraInfoEFF/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/"
     xmlns="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/context/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivate.xsd" xml:id="PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivate-xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personExtraInfoEFF/"
         schemaLocation="PersonExtraInformationContext.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService_1.xsd"/>
    <xsd:complexType name="PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivate">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonExtraInfoId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ns0:PersonExtraInformationContext">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="FLEX_PARAM_PERSON_ID" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="FLEX_PARAM_EFFECTIVE_START_DATE" nillable="true"
                         type="ns1:date-Date"/>
                    <xsd:element minOccurs="0" name="PeiAttributeCategory" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_SEQUENCE_NUMBER" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_BENEFIT_TYPE" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_BENEFIT_TYPE_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_CONTACT_PERSON" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_CONTACT_PERSON_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_PERCENT_SHARE" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_NOMINATION_END_REASON" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="personExtraInformationContextHRX_5FIN_5FNOMINATIONprivate" type="PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivate"/>
</xsd:schema>
