HCMCloudServicesLast/HCMTransfersPromotions/SOA/Schemas/WorkerDetails.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Worker Details Version 2</name>
            <description>Person working for an enterprise such as employee or contingent worker.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment : HcmEmploymentManage-Manage Employment</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="ASSIGNMENT_ID" name="AssignmentId"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day."
                     name="EffectiveSequence"/>
                <oer:attribute description="Date Effective Entity: &apos;Y&apos; indicates that this row represents the latest change in the day."
                     name="EffectiveLatestChange"/>
                <oer:attribute description="ASSIGNMENT_TYPE" name="AssignmentType"/>
                <oer:attribute description="Assignment Number. Uniquely identifies an assignment."
                     name="AssignmentNumber"/>
                <oer:attribute description="PEOPLE_GROUP_ID" name="PeopleGroupId"/>
                <oer:attribute description="LEGAL_ENTITY_ID" name="LegalEntityId"/>
                <oer:attribute description="WORK_AT_HOME" name="WorkAtHome"/>
                <oer:attribute description="EMPLOYEE_CATEGORY" name="EmployeeCategory"/>
                <oer:attribute description="EMPLOYMENT_CATEGORY" name="EmploymentCategory"/>
                <oer:attribute description="LEGISLATION_CODE" name="LegislationCode"/>
                <oer:attribute description="NORMAL_HOURS" name="NormalHours"/>
                <oer:attribute description="Frequency of normal working hours - week, month, year. Sourced from FREQUENCY lookup type."
                     name="Frequency"/>
                <oer:attribute description="PERSON_ID" name="PersonId"/>
                <oer:attribute description="PERIOD_OF_SERVICE_ID" name="PeriodOfServiceId"/>
                <oer:attribute description="PERSON_TYPE_ID" name="PersonTypeId"/>
                <oer:attribute description="Indicates whether the person is a manager or not." name="ManagerFlag"/>
                <oer:attribute description="Foreign Key to PER_LOCATIONS table." name="LocationId"/>
                <oer:attribute description="Foreign Key to PER_JOBS_F table." name="JobId"/>
                <oer:attribute description="Foreign Key to PER_GRADES_F table." name="GradeId"/>
                <oer:attribute description="Foreign key to HRW_BUSINESS_UNITS table." name="BusinessUnitId"/>
                <oer:attribute description="BUSINESS_GROUP_ID" name="BusinessGroupId"/>
                <oer:attribute description="HOURLY_SALARIED_CODE" name="HourlySalariedCode"/>
                <oer:attribute description="Foreign Key to HR_ALL_POSITIONS_F table." name="PositionId"/>
                <oer:attribute description="ORGANIZATION_ID" name="OrganizationId"/>
                <oer:attribute description="PRIMARY_FLAG" name="PrimaryFlag"/>
                <oer:attribute description="WORK_TERMS_ASSIGNMENT_ID" name="WorkTermsAssignmentId"/>
                <oer:attribute description="Actual date of termination of employment." name="ActualTerminationDate"/>
                <oer:attribute description="Determines whether it is a period of service for an Employee, or Contingent worker: ?E? or ?C?, or ?N?: non-worker."
                     name="PeriodType"/>
                <oer:attribute description="System constructed version of name, used in more formal display purposes"
                     name="FullName"/>
                <oer:attribute description="Unique Identifier for a person&apos;s name." name="PersonNameId"/>
                <oer:attribute description="A user-defined person type that is associated with a system person type and selected on the assignment"
                     name="UserPersonType"/>
                <oer:attribute description="Name of the Business Unit." name="BusinessUnit"/>
                <oer:attribute description="Represents position of the worker." name="Position"/>
                <oer:attribute description="Code of the position." name="PositionCode"/>
                <oer:attribute description="Job of the worker that is defined in the assignment."
                     name="Job"/>
                <oer:attribute description="Code of the job." name="JobCode"/>
                <oer:attribute description="Grade on the assignment. The grade is an employment component of a worker that defines the level of the worker&apos;s occupation, their salary, and other compensation elements."
                     name="Grade"/>
                <oer:attribute description="Valid Grade Code. Code is the unique identifier of the grade."
                     name="GradeCode"/>
                <oer:attribute description="Denotes department for the worker." name="Department"/>
                <oer:attribute description="Location where the work activity is performed." name="Location"/>
                <oer:attribute description="Name of the location." name="LocationName"/>
                <oer:attribute description="Derived denormalized name formatted for on-screen display. Formatting depends on the Legislation Code, expect First Name as first component in this format."
                     name="DisplayName"/>
                <oer:attribute description="Person&apos;s First name" name="FirstName"/>
                <oer:attribute description="Person&apos;s Last Name" name="LastName"/>
                <oer:attribute description="Start date of person record on system, always equal to earliest effective_start_date on per_all_people_f."
                     name="PersonStartDate"/>
                <oer:attribute description="The latest principal username of the user" name="Username"/>
                <oer:attribute description="Mandatory Primary Key Updatable While New Key Generation"
                     name="UserId"/>
                <oer:attribute description="Flag to mark when a user record that has been deleted in LDAP. This is not set to &apos;N&apos; when a user is just suspended."
                     name="UserActiveFlag"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="Represents Legal Entity." name="LegalEntity"/>
                <oer:attribute description="Effective Start Date of logical record." name="RangeStartDate"/>
                <oer:attribute description="Requested effective End Date of logical record." name="RangeEndDate"/>
                <oer:attribute description="RangeMode controls certain Date Effective behaviour for the update or delete of an existing logical row. See service documentation for further details."
                     name="RangeMode"/>
                <oer:attribute description="The person visa, work permit and residency data of a person, for example, visa permit number, visa permit type, visa permit status, or issuing authority."
                     name="PersonVisaDetails"/>
                <oer:attribute description="The passport data for a person, for example, passport number, passport type, issuing authority, issuing country, and others."
                     name="PersonPassportDetails"/>
                <oer:attribute description="A unique identifier for a person that is specific to a legislation, for example, Social Security Number in US legislation and National Insurance Number in UK legislation."
                     name="PersonNidDetails"/>
                <oer:attribute description="The supervisors associated with a particular assignment. This supports different relationships between a person and a supervisor. For example, a person could have one functional manager (line manager) and a project manager (who controls a project and organizes resources and people)."
                     name="WorkerManager"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService_1.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava_1.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML_1.xsd"/>
    <xsd:include schemaLocation="PersonVisaDetails.xsd"/>
    <xsd:include schemaLocation="PersonPassportDetails.xsd"/>
    <xsd:include schemaLocation="PersonNidDetails.xsd"/>
    <xsd:include schemaLocation="WorkerManager.xsd"/>
    <xsd:complexType name="WorkerDetails">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>AssignmentId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>EffectiveSequence</attribute>
                    <attribute>EffectiveLatestChange</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveSequence" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PeopleGroupId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LegalEntityId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkAtHome" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployeeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmploymentCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LegislationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NormalHours" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Frequency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PeriodOfServiceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PersonTypeId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ManagerFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="JobId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="GradeId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BusinessUnitId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BusinessGroupId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="HourlySalariedCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PositionId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="OrganizationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="WorkTermsAssignmentId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ActualTerminationDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PeriodType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FullName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonNameId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UserPersonType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Position" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PositionCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Job" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Grade" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GradeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Location" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DisplayName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Username" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="UserActiveFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="PersonNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LegalEntity" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonVisaDetails" type="PersonVisaDetails"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonPassportDetails" type="PersonPassportDetails"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonNidDetails" type="PersonNidDetails"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkerManager" type="WorkerManager"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorkerDetailsResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="WorkerDetails"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="workerDetails" type="WorkerDetails"/>
    <xsd:element name="workerDetailsResult" type="WorkerDetailsResult"/>
</xsd:schema>
