SAMAHA/SubmitReverseTransaction/SOA/WADLs/submitReverseTransaction.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="submitReverseTransaction">SubmitReverseTransaction</doc>
   <resources>
      <resource path="/">
         <method name="POST" soa:name="SubmitReverseTransaction">
            <request>
               <param name="sourceRegCode" style="query" type="xsd:string"/>
               <param name="sourceBankCode" style="query" type="xsd:string"/>
               <param name="sourceBranchCode" style="query" type="xsd:string"/>
               <param name="voucherText" style="query" type="xsd:string"/>
               <param name="transactionAmount" style="query" type="xsd:string"/>
               <param name="cusIdNumber" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
