FIXED_ASSETS/CheckAccount/SOA/WADLs/CheckAccount.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="CheckAccount">CheckAccount</doc>
   <resources>
      <resource path="/">
         <method name="GET" soa:name="checkAccount">
            <request>
               <param name="branchCode" style="query" type="xsd:int"/>
               <param name="accountNumber" style="query" type="xsd:string"/>
               <param name="currencyCode" style="query" type="xsd:int"/>
               <param name="userName" style="query" type="xsd:string"/>
               <param name="password" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/xml"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
