HCMCloudServicesLast/HCMAddress/SOA/Schemas/Contract.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDFF/" xmlns:ns2="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDDF/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Employment Contract Version 2</name>
            <description>It defines a contract associated with an employment terms record, for example, the contract type and the duration.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment : HcmEmploymentCore-Employment</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Identifies a set of Employment /Placement Terms. Foreign Key to PER_ALL_ASSIGNMENTS_M."
                     name="AssignmentId"/>
                <oer:attribute description="System generated primary key." name="ContractId"/>
                <oer:attribute description="The type of contract." name="ContractType"/>
                <oer:attribute description="Description of the contract." name="Description"/>
                <oer:attribute description="The duration of the contract." name="Duration"/>
                <oer:attribute description="The units of time in which the duration is expressed."
                     name="DurationUnits"/>
                <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="The period of time for which the contract has been extended."
                     name="ExtensionPeriod"/>
                <oer:attribute description="The units of time in which the extension period has been expressed."
                     name="ExtensionPeriodUnits"/>
                <oer:attribute description="The reason for extending the contract." name="ExtensionReason"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Foreign key to PER_PERSONS." name="PersonId"/>
                <oer:attribute description="Assignment Number. Uniquely identifies an assignment."
                     name="AssignmentNumber"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="Effective Start Date of logical record." name="RangeStartDate"/>
                <oer:attribute description="Requested effective End Date of logical record." name="RangeEndDate"/>
                <oer:attribute description="RangeMode controls certain Date Effective behaviour for the update or delete of an existing logical row. See service documentation for further details."
                     name="RangeMode"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Customerflexfield for contract." name="ContractDFF"/>
                <oer:attribute description="Customer flexfield for legislative contract." name="ContractLegDDF"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDFF/"
         schemaLocation="ContractDFF.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDDF/"
         schemaLocation="ContractLegDDF.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="ContractResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="Contract"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Contract">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ContractId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AssignmentId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ContractId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ContractType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Duration" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DurationUnits" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ExtensionPeriod" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ExtensionPeriodUnits" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ExtensionReason" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AssignmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ContractDFF" type="ns1:ContractDFF" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element minOccurs="0" name="ContractLegDDF" type="ns2:ContractLegDDF" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="contractResult" type="ContractResult"/>
    <xsd:element name="contract" type="Contract"/>
</xsd:schema>
