HCMCloudServicesLast/HCMAddress/SOA/Schemas/PersonDFF.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDFF/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDFF/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="PersonDFF">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="bloodType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bloodType_Display" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="signature" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="signature_Display" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tax" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="jibSsDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="jibSsNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ipan" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="projectaccountnumber" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ibannumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="pro" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="pro_Display" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="lastpromote" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personDFF" type="PersonDFF"/>
</xsd:schema>
