HCMCloudServicesLast/HCMAddress/SOA/Schemas/PersonAddress.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/people/core/flex/personAddressUsageDFF/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Person Address Version 2</name>
            <description>The postal address for a person. It is comprised of country
                dependent elements. For example, a UK address has a postcode and
                county, while a US address has Zip code, a county or state, and
                common elements such as street, number, and so forth.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleCore-Personal
                    Information</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_PERSON-Person</value>
                <value>HCM-HCM : PER-Global Human Resources :
                    PER_PERSON_CONTACT-Person Contact</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="System generated part of the primary key. Surrogate key."
                     name="PersonAddrUsageId"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="Effective Start Date of logical record." name="RangeStartDate"/>
                <oer:attribute description="Requested effective End Date of logical record." name="RangeEndDate"/>
                <oer:attribute description="RangeMode controls certain Date Effective behaviour for the update or delete of an existing logical row. See service documentation for further details."
                     name="RangeMode"/>
                <oer:attribute description="Type of address, for example, home address, work address, etc."
                     name="AddressType"/>
                <oer:attribute description="Internal identifier for the person." name="PersonId"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="The address which is owned by this usage record." name="AddressId"/>
                <oer:attribute description="First line of address" name="AddressLine1"/>
                <oer:attribute description="Second line of address" name="AddressLine2"/>
                <oer:attribute description="Third line of address" name="AddressLine3"/>
                <oer:attribute description="Fourth line of address" name="AddressLine4"/>
                <oer:attribute description="Building name of the address" name="Building"/>
                <oer:attribute description="Floor Number of the address" name="FloorNumber"/>
                <oer:attribute description="Name of the Town or City for the address" name="TownOrCity"/>
                <oer:attribute description="Primary region in which the address is located." name="Region1"/>
                <oer:attribute description="Sub-region of Region 1." name="Region2"/>
                <oer:attribute description="Sub-region of Region 2." name="Region3"/>
                <oer:attribute description="Country of the address" name="Country"/>
                <oer:attribute description="Postal code of the address" name="PostalCode"/>
                <oer:attribute description="Long postal codes are used in some countries in addition to more well-known short postal codes."
                     name="LongPostalCode"/>
                <oer:attribute description="Specifies the standard timezone boundary under which the address falls."
                     name="TimezoneCode"/>
                <oer:attribute description="Identifies which address for a person is the primary mailing address."
                     name="PrimaryFlag"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Additional Address Columns for localization development."
                     name="AddlAddressAttribute1"/>
                <oer:attribute description="Additional Address Columns for localization development."
                     name="AddlAddressAttribute2"/>
                <oer:attribute description="Additional Address Columns for localization development."
                     name="AddlAddressAttribute3"/>
                <oer:attribute description="Additional Address Columns for localization development."
                     name="AddlAddressAttribute4"/>
                <oer:attribute description="Additional Address Columns for localization development."
                     name="AddlAddressAttribute5"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Customer Flexfield for Person address Usage." name="PersonAddressUsageDFF"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personAddressUsageDFF/"
         schemaLocation="PersonAddressUsageDFF.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="PersonAddress">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonAddrUsageId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>AddressId1</attribute>
                    <attribute>EffectiveStartDate1</attribute>
                    <attribute>EffectiveEndDate1</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonAddrUsageId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PersonNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AddressLine1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressLine2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressLine3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressLine4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Building" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FloorNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TownOrCity" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Region1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Region2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Region3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LongPostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TimezoneCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="AddlAddressAttribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddlAddressAttribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddlAddressAttribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddlAddressAttribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddlAddressAttribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonAddressUsageDFF" type="ns1:PersonAddressUsageDFF"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonAddressResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="PersonAddress"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="personAddressResult" type="PersonAddressResult"/>
    <xsd:element name="personAddress" type="PersonAddress"/>
</xsd:schema>
