HCMCloudServicesLast/HCMAddress/SOA/Schemas/WorkRelationshipLegDDFUS.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/periodOfServiceDDF/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/flex/periodOfServiceDDF/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:include schemaLocation="WorkRelationshipLegDDF.xsd"/>
    <xsd:complexType name="WorkRelationshipLegDDFUS">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PeriodOfServiceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="WorkRelationshipLegDDF">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="_I9_STATUS" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_I9_STATUS_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_I9_EXPIRATION" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="_NEW_HIRE_STATUS" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NEW_HIRE_STATUS_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NEW_HIRE_EXCEPTION_REASON" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NEW_HIRE_EXCEPTION_REASON_Display" nillable="true"
                         type="xsd:string"/>
                    <xsd:element minOccurs="0" name="medicalInsuranceAvailable" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="medicalInsuranceAvailable_Display" nillable="true"
                         type="xsd:string"/>
                    <xsd:element minOccurs="0" name="medicalInsuranceAvailabilityDa" nillable="true"
                         type="ns0:date-Date"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="workRelationshipLegDDFUS" type="WorkRelationshipLegDDFUS"/>
</xsd:schema>
