HCMCloudServicesLast/HCMEmpsDocs/SOA/Schemas/AssignmentWorkMeasure.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/employment/core/flex/assignmentWorkMeasureDFF/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Person Assignment Work Measure Version 2</name>
            <description>The HR budget values for an assignment. An Assignment may be
                budgeted using headcount, full time equivalent (FTE), points, or
                any other user defined units.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment :
                    HcmEmploymentCore-Employment</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="System-generated primary key column." name="AssignWorkMeasureId"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Budget measurement units, for example, headcount, FTE, points."
                     name="Unit"/>
                <oer:attribute description="Budget measurement value.." name="Value"/>
                <oer:attribute description="Foreign key to PER_ALL_ASSIGNMENTS_M." name="AssignmentId"/>
                <oer:attribute description="Assignment Number. Uniquely identifies an assignment."
                     name="AssignmentNumber"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Effective Start Date of logical record." name="RangeStartDate"/>
                <oer:attribute description="Requested effective End Date of logical record." name="RangeEndDate"/>
                <oer:attribute description="RangeMode controls certain Date Effective behaviour for the update or delete of an existing logical row. See service documentation for further details."
                     name="RangeMode"/>
                <oer:attribute description="Assignment work measure unit." name="NewUnit"/>
                <oer:attribute description="Specifies the action performed on the particular record. For example: HIRE, ADD PENDING WORKER, MANAGER CHANGE, etc."
                     name="ActionCode"/>
                <oer:attribute description="Specifies the reason for the action performed on the record."
                     name="ReasonCode"/>
                <oer:attribute description="Customer Flexfield for Assignment Work Measure." name="AsgWorkMeasureDFF"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/assignmentWorkMeasureDFF/"
         schemaLocation="AsgWorkMeasureDFF.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="AssignmentWorkMeasure">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>AssignWorkMeasureId</attribute>
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>EffectiveStartDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AssignWorkMeasureId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="Unit" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Value" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AssignmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NewUnit" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ActionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AsgWorkMeasureDFF" type="ns1:AsgWorkMeasureDFF" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AssignmentWorkMeasureResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="AssignmentWorkMeasure"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="assignmentWorkMeasureResult" type="AssignmentWorkMeasureResult"/>
    <xsd:element name="assignmentWorkMeasure" type="AssignmentWorkMeasure"/>
</xsd:schema>
