HCMCloudServicesLast/HCMEmpsDocs/SOA/Schemas/ContractLegDDFCN.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDDF/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/flex/contractDDF/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:include schemaLocation="ContractLegDDF.xsd"/>
    <xsd:complexType name="ContractLegDDFCN">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ContractId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ContractLegDDF">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="_CONST_PROB_DATE" nillable="true" type="ns0:date-Date"/>
                    <xsd:element minOccurs="0" name="_NOTICE_PRD_RESIGN_PROB" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_NOTICE_PRD_DISMISS_PROB" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_NOTICE_PERIOD_DISMISS" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_NOTICE_PRD_RESIGN" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="_NOTICE_DURATION_UNIT" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NOTICE_DURATION_UNIT_Display" nillable="true"
                         type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_COMPETITION_CLAUSE" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_COMPETITION_CLAUSE_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NDA" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_NDA_Display" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="_CANCELLATION_FILE_NUM" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="contractLegDDFCN" type="ContractLegDDFCN"/>
</xsd:schema>
