HCMCloudServicesLast/HCMEmpsDocs/SOA/Schemas/PersonDriversLicence.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDriversLicenseLegDDF/"
     xmlns:ns2="http://xmlns.oracle.com/apps/hcm/people/core/flex/driversLicenseTypeDFF/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Person Driver License Version 2</name>
            <description>The driving license details of a person. For example Full
                License, since 01-Jan-2005, 3 penalty points, issuing authority
                and other relevant details.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleCore-Personal
                    Information</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_PERSON-Person</value>
                <value>HCM-HCM : PER-Global Human Resources :
                    PER_PERSON_CONTACT-Person Contact</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="System generated primary key. Surrogate key." name="DriversLicenseId"/>
                <oer:attribute description="Internal identifier for the person." name="PersonId"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="Legislation code for the issuing country of the drivers license."
                     name="LegislationCode"/>
                <oer:attribute description="The type of the drivers license" name="LicenseType"/>
                <oer:attribute description="Identifies the number for the driving license." name="LicenseNumber"/>
                <oer:attribute description="Start date for the drivers license." name="DateFrom"/>
                <oer:attribute description="End date for the drivers license." name="DateTo"/>
                <oer:attribute description="Authority issuing license" name="IssuingAuthority"/>
                <oer:attribute description="This will be defaulted from the LegislationCode.  If a value is provided during data conversion, it must match the LegislationCode."
                     name="IssuingCountry"/>
                <oer:attribute description="Place of issue" name="IssuingLocation"/>
                <oer:attribute description="Indicates whether license is suspended or not." name="LicenseSuspended"/>
                <oer:attribute description="Date of suspension, if suspended" name="SuspendedFromDate"/>
                <oer:attribute description="Last Date of suspension, if suspended" name="SuspendedToDate"/>
                <oer:attribute description="Number of penalty points against license" name="NumberOfPoints"/>
                <oer:attribute description="Number of violations" name="Violations"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Customer Flexfield for person&apos;s legislative driver licence."
                     name="PersonDriversLicenseLegDDF"/>
                <oer:attribute description="Customer flexfield for driver&apos;s licence type." name="DriversLicenseTypeDFF"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDriversLicenseLegDDF/"
         schemaLocation="PersonDriversLicenseLegDDF.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/driversLicenseTypeDFF/"
         schemaLocation="DriversLicenseTypeDFF.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="PersonDriversLicenceResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="PersonDriversLicence"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonDriversLicence">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>DriversLicenseId</attribute>
                    <attribute>DriversLicenseTypeId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DriversLicenseId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PersonNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LegislationCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LicenseType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LicenseNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateFrom" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DateTo" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="IssuingAuthority" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IssuingCountry" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IssuingLocation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LicenseSuspended" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SuspendedFromDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SuspendedToDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="NumberOfPoints" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Violations" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonDriversLicenseLegDDF" type="ns1:PersonDriversLicenseLegDDF"
                 sdoXML:dataType="sdo:DataObject"/>
            <xsd:element minOccurs="0" name="DriversLicenseTypeDFF" type="ns2:DriversLicenseTypeDFF"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personDriversLicence" type="PersonDriversLicence"/>
    <xsd:element name="personDriversLicenceResult" type="PersonDriversLicenceResult"/>
</xsd:schema>
