HCMCloudServicesLast/HCMEmpsProfile/SOA/Schemas/BaseWorkerAsgDFF.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/flex/baseWorkerAssignmentDFF/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/flex/baseWorkerAssignmentDFF/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="BaseWorkerAsgDFF">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>AssignmentId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>EffectiveSequence</attribute>
                    <attribute>EffectiveLatestChange</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveSequence" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="__FLEX_Context" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="__FLEX_Context_DisplayValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="_FLEX_NumOfSegments" nillable="true" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="baseWorkerAsgDFF" type="BaseWorkerAsgDFF"/>
</xsd:schema>
