HCMCloudServicesLast/HCMEmpsProfile/SOA/Schemas/PersonContact.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDFF/" xmlns:ns2="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/base/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Person Contact Version 2</name>
            <description>This view object contains person information used to create a person contact in association with ContactRelationshipVO.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleCore-Personal Information</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_PERSON_CONTACT-Person Contact</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="System-generated primary key column." name="PersonId"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="Effective Start Date of logical record." name="RangeStartDate"/>
                <oer:attribute description="Requested effective End Date of logical record." name="RangeEndDate"/>
                <oer:attribute description="RangeMode controls certain Date Effective behaviour for the update or delete of an existing logical row. See service documentation for further details."
                     name="RangeMode"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="Identified the blood group of the person." name="BloodType"/>
                <oer:attribute description="Lookup identifies language to use for this communication."
                     name="CorrespondenceLanguage"/>
                <oer:attribute description="Start date of person record on system, always equal to earliest effective_start_date on per_all_people_f."
                     name="StartDate"/>
                <oer:attribute description="Date of birth of the person." name="DateOfBirth"/>
                <oer:attribute description="Date of death of the person." name="DateOfDeath"/>
                <oer:attribute description="Identifies the country where the person was born." name="CountryOfBirth"/>
                <oer:attribute description="Region of birth, within the country of birth." name="RegionOfBirth"/>
                <oer:attribute description="Town of birth, within the region of birth." name="TownOfBirth"/>
                <oer:attribute description="Unique number for people who are applicants. This is in addition to PERSON_NUMBER. Allows global tracking of applicants."
                     name="ApplicantNumber"/>
                <oer:attribute description="This column is not currently used." name="WaiveDataProtectFlag"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Category Code" name="CategoryCode"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Address associated with the Contact." name="ContactAddress"/>
                <oer:attribute description="Delivery method for the contact." name="ContactDeliveryMethod"/>
                <oer:attribute description="Driver&apos;s Licence details for the contact" name="ContactDriversLicence"/>
                <oer:attribute description="Email Address for the contact." name="ContactEmail"/>
                <oer:attribute description="Ethinicity for the contact." name="ContactEthnicity"/>
                <oer:attribute description="Image of the contact." name="ContactImage"/>
                <oer:attribute description="Legislative data for the contact." name="ContactLegislativeData"/>
                <oer:attribute description="Name of the contact." name="ContactName"/>
                <oer:attribute description="National Identifier for the contact." name="ContactNationalIdentifier"/>
                <oer:attribute description="Passport details for the contact." name="ContactPassport"/>
                <oer:attribute description="Phone number of the contact." name="ContactPhone"/>
                <oer:attribute description="Religion of the contact." name="ContactReligion"/>
                <oer:attribute description="Content Type description" name="ContactVisa"/>
                <oer:attribute description="Customer Flexfield for Person." name="ContactPersonDFF"/>
                <oer:attribute description="Relationship with the contact." name="ContactRelationship"/>
                <oer:attribute description="The extra information flexfield that may be maintained for a contact."
                     name="j_ContactPersonExtraInformation"/>
                <oer:attribute description="Citizenship of the contact." name="ContactCitizenship"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personDFF/" schemaLocation="PersonDFF.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/base/"
         schemaLocation="j_PersonExtraInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="PersonAddress.xsd"/>
    <xsd:include schemaLocation="PersonDeliveryMethod.xsd"/>
    <xsd:include schemaLocation="PersonDriversLicence.xsd"/>
    <xsd:include schemaLocation="PersonEmail.xsd"/>
    <xsd:include schemaLocation="PersonEthnicity.xsd"/>
    <xsd:include schemaLocation="PersonImage.xsd"/>
    <xsd:include schemaLocation="PersonLegislativeData.xsd"/>
    <xsd:include schemaLocation="PersonName.xsd"/>
    <xsd:include schemaLocation="PersonNationalIdentifier.xsd"/>
    <xsd:include schemaLocation="PersonPassport.xsd"/>
    <xsd:include schemaLocation="PersonPhone.xsd"/>
    <xsd:include schemaLocation="PersonReligion.xsd"/>
    <xsd:include schemaLocation="PersonVisa.xsd"/>
    <xsd:include schemaLocation="ContactRelationship.xsd"/>
    <xsd:include schemaLocation="PersonCitizenship.xsd"/>
    <xsd:complexType name="PersonContactResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="PersonContact"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonContact">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                    <attribute>PersonId1</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RangeMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BloodType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorrespondenceLanguage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DateOfDeath" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RegionOfBirth" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TownOfBirth" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ApplicantNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WaiveDataProtectFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CategoryCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactAddress" type="PersonAddress"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactDeliveryMethod" type="PersonDeliveryMethod"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactDriversLicence" type="PersonDriversLicence"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactEmail" type="PersonEmail"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactEthnicity" type="PersonEthnicity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactImage" type="PersonImage"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactLegislativeData" type="PersonLegislativeData"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactName" type="PersonName"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactNationalIdentifier" type="PersonNationalIdentifier"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPassport" type="PersonPassport"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPhone" type="PersonPhone"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactReligion" type="PersonReligion"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactVisa" type="PersonVisa"/>
            <xsd:element minOccurs="0" name="ContactPersonDFF" type="ns1:PersonDFF" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactRelationship" type="ContactRelationship"/>
            <xsd:element minOccurs="0" name="j_ContactPersonExtraInformation" type="ns2:j_PersonExtraInformation"
                 sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactCitizenship" type="PersonCitizenship"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personContactResult" type="PersonContactResult"/>
    <xsd:element name="personContact" type="PersonContact"/>
</xsd:schema>
