HCMCloudServicesLast/HCMEmpsProfile/SOA/Schemas/TRA.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/context/"
     xmlns:ns0="http://xmlns.oracle.com/apps/hcm/people/core/flex/personExtraInfoEFF/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/"
     xmlns="http://xmlns.oracle.com/apps/hcm/people/core/flex/personEITEFF/context/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="TRA.xsd" xml:id="TRA-xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/personExtraInfoEFF/"
         schemaLocation="PersonExtraInformationContext.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:complexType name="TRA">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonExtraInfoId</attribute>
                    <attribute>EffectiveStartDate</attribute>
                    <attribute>EffectiveEndDate</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ns0:PersonExtraInformationContext">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PeiAttributeCategory" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Fromlocation" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ToLocation" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FromJob" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ToJob" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FromDepar" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ToDepar" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="TranDate" type="ns1:date-Date"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="tRA" type="TRA"/>
</xsd:schema>
