HCMCloudServicesLast/HCMEmpsDep/SOA/Schemas/PersonDeliveryMethod.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     sdoJava:package="oracle.apps.hcm.employment.core.workerServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/hcm/people/core/flex/deliveryMethodDFF/" xmlns:sdo="commonj.sdo"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/hcm/employment/core/workerServiceV2/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Person Delivery Method Version 2</name>
            <description>The various types of communication methods for a person. For
                example IM, web address, and so forth.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People</value>
                <value>HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleCore-Personal
                    Information</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_PERSON-Person</value>
                <value>HCM-HCM : PER-Global Human Resources :
                    PER_PERSON_CONTACT-Person Contact</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="System generated primary key. Surrogate key." name="DeliveryMethodId"/>
                <oer:attribute description="Start date of this communication method" name="DateStart"/>
                <oer:attribute description="End date of this communication method" name="DateEnd"/>
                <oer:attribute description="Internal identifier for the person." name="PersonId"/>
                <oer:attribute description="Number assigned to the person, to identify the person uniquely in any context, not dependent on being an employee, contingent worker, etc."
                     name="PersonNumber"/>
                <oer:attribute description="Marks the preferred method of communication." name="PreferredOrder"/>
                <oer:attribute description="Address associated with the Delivery Method, such as the IM identifier, the URL of a home page, etc. Not used when Method is Email, Phone or Address."
                     name="CommDlvryAddress"/>
                <oer:attribute description="Communication method (type such as IM name, web address, etc.). Uses lookup PER_CM_MTHD"
                     name="CommDlvryMethod"/>
                <oer:attribute description="If the Method is Email or Address or Phone,this will store the FK reference to the row of the entity.Not used for other methods."
                     name="CommDlvryFkId"/>
                <oer:attribute description="Type of address, for example, home address, work address, etc."
                     name="AddressType"/>
                <oer:attribute description="First line of address" name="AddressLine1"/>
                <oer:attribute description="Indicates the phone type for which the details are stored."
                     name="PhoneType"/>
                <oer:attribute description="Telephone Number" name="PhoneNumber"/>
                <oer:attribute description="Type of email (e.g. work, personal)" name="EmailType"/>
                <oer:attribute description="E-mail address of the person." name="EmailAddress"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Specify a value to identify the source system, for example PSFT-UK. If you have more than one instance of a source system, then you can uniquely identify each one."
                     name="SourceSystemOwner"/>
                <oer:attribute description="Unique identifier (character-based) from the source system. Note that this value cannot change. If you change this value in the source system, the integration will fail."
                     name="SourceSystemId"/>
                <oer:attribute description="The GUID (globally unique identifier) is generated in Fusion by the system and is used to provide integration key resolution."
                     name="GUID"/>
                <oer:attribute description="Customer Flexfield for delivery method." name="DeliveryMethodDFF"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/hcm/people/core/flex/deliveryMethodDFF/"
         schemaLocation="DeliveryMethodDFF.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="PersonDeliveryMethodResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="PersonDeliveryMethod"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonDeliveryMethod">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>DeliveryMethodId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DeliveryMethodId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DateStart" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DateEnd" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PersonNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredOrder" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="CommDlvryAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CommDlvryMethod" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CommDlvryFkId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="AddressType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressLine1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PhoneType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmailType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="SourceSystemOwner" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliveryMethodDFF" type="ns1:DeliveryMethodDFF" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personDeliveryMethodResult" type="PersonDeliveryMethodResult"/>
    <xsd:element name="personDeliveryMethod" type="PersonDeliveryMethod"/>
</xsd:schema>
