JAMAREK/JIBBankReceiver/SOA/Schemas/JIBBankReceiver.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:tns="http://tempuri.org/">
    <xs:import schemaLocation="JIBBankReceiverXSD2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    <xs:import schemaLocation="JIBBankReceiverXSD3.xsd" namespace="http://schemas.microsoft.com/Message"/>
    <xs:element name="AllProcess">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="BillProcessRequest" nillable="true">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs="0" processContents="lax"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="Authentication" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProcessFlg" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllProcessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AllProcessResult" type="q1:StreamBody" xmlns:q1="http://schemas.microsoft.com/Message"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
